
.create-game {
    padding: 0 20px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-game h1 {
    text-align: center;
    font-size: 44px;
    margin-bottom: 30px;
}

.create-game .input-label {
    width: 100%;
}

.create-game input {
    outline: 0;
    margin: 0 auto 15px;
    display: block;
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 15px;
    width: 100%;
    max-width: -webkit-fill-available;
    font-family: Raleway-Regular, sans-serif;
}

.create-game input::placeholder {
    color: var(--primary);
}


.create-game section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.custom-select {
    width: 100%;
    max-width: 100%;
}


.custom-select:first-of-type {
    margin-bottom: 15px;
}

select {
    /* Reset */
    appearance: none;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 100%;
    padding: 10px 45px 10px 15px;
    color: var(--primary);
    border-radius: 10px;
    border: 2px solid var(--primary);
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: Raleway-Regular, sans-serif;
    font-size: 20px;
    max-width: 100%;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
    no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--primary) 3em, transparent 3em);
}
/* <option> colors */
option {
    color: #fff;
    background-color: var(--primary);
    font-family: Raleway-Regular, sans-serif;
    max-width: 100%;
}

option:disabled {
    color: #beb4b4;
}

/* Remove focus outline */
select:focus {
     outline: none;
}
/* Remove IE arrow */
select::-ms-expand {
     display: none;
}

.create-game .main-button {
    margin-top: 40px;
}

@media only screen and (min-width: 900px) {
    .create-game {
        max-width: 500px;
        margin: 150px auto 0;
    }
}